/*----- GENERAL CODES -----*/

@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0px;
	padding: 0px;
	color: #3a3430;
	font-family: 'Work Sans', sans-serif;
	font-size: 13px;
	line-height:1.5em; 
	background-color: #e1e1e1;
}

/* Style de base pour les liens non visités */
nav ul a {
	color: black;
	text-decoration: none;
}

/* Style pour les liens visités */
nav ul a:visited {
	color: black;
}

/* Style pour les liens au survol de la souris */
nav ul a:hover {
	color: #ffffff; /* Couleur de survol */
}

/* Style pour les liens actifs (clic) */
nav ul a:active {
	color: red; /* Couleur au clic */
}

/* Style pour les liens de la page actuelle */
nav ul a.current {
	color: #fec823; /* Couleur de la page actuelle */
}

ul {
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

img {
	border: none;
}

span {
	color: #fec823;
	font-weight: bold;
}

.span2 {
	color: #293998;
	font-weight: bold;
}

p {
	font-size: 1rem;
	color: #000000;
}

a {
	text-decoration: none;
}

h1 {
	font-size: 2rem; font-weight: bold; margin: 0 0 30px 0; padding: 5px 0; color: #000000;
}

h2 {
	font-size: 32px; font-weight: normal; line-height: 28px; margin: 0 0 30px 0; padding: 0; color: #000;
}

h3 {
	font-size: 21px; margin: 0 0 20px 0; padding: 0; padding: 0; color: #000;
}

/* h4 {
	font-size: 18px; font-weight: normal; margin: 0 0 20px 0; padding: 0; color: #000;
}

h5 {
	font-size: 16px; margin: 0 0 10px 0; padding: 0; color: #333;
}

h6 {
	font-size: 14px; margin: 0 0 5px 0; padding: 0;
} */

section {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	width: 95%;
	padding: 10px;
}

footer {
	width: 95%;
	padding: 20px 0;
	border-top: 1px solid #000000;
	background: #346a8a;
	text-align: center;
	color: #000000;
	font-weight: bold;
	border: solid 1px #ffffff;
	border-radius: 10px;
}

.margin-t20 {
	margin-top: 20px;
}
.margin-b20 {
	margin-bottom: 20px;
}

hr {
	border: 1px double #333333;
	background-color: #333333;
	text-align: center;
	height: 2px;
	width: 70%;
	margin-top: 25px;
}

.picture-frame {
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	height: auto;
	background-color: #346a8a;
	border: solid 1px #000000;
	padding: 10px;
}

/*----- END GENERAL CODES -----*/

/*----- HEADER -----*/

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 95%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,
	0,
	0,
	0.5)), url(../pictures/tab_mk-services-header.png);
	background-size: cover;
	padding-bottom: 20px;
	border-radius: 10px;
	border: solid 1px #ffffff;
}

.logo-header {
	display: flex;
	justify-content: center;
	align-items: center;;
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: bold;
	color: #ff3a3a;
}

.titre-header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: bold;
	color: #ffffff;
}

.logo {
	width: 140px;
	height: 140px;
}

/*----- END HEADER -----*/

/*----- NAVBAR -----*/

.menu {
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
    width: 95%;	
	height: 40px;
	background-color: #346a8a;
	border-radius: 10px;
	border: solid 1px #ffffff;
}

.text-menu {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

.text-menu a {
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: bold;
}

/*----- END NAVBAR -----*/

/*----- MIDDLE CONTENT -----*/

.middle-content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 95%;
	height: 280px;
	background: url(../pictures/banner_middle-content.jpg);
	border-radius: 10px;
	border: solid 1px #ffffff;
}

.middle-text {
	text-align: justify;
	color: #ffffff;
	width: 50%;
	margin-left: -100px;
}

/* button */
.svg-wrapper {
	position: relative;
	top: 15%;
	left: -4%;
	transform: translateY(-50%);
	margin: 0 auto;
	width: 320px;  
}

.shape {
	stroke-dasharray: 140 540;
	stroke-dashoffset: -474;
	stroke-width: 8px;
	fill: transparent;
	stroke: #19f6e8;
	border-bottom: 5px solid black;
	transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.text-button {
	position: relative;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: bold;
	top: -44px;
	left: 20%;
}

.svg-wrapper:hover .shape {
	stroke-width: 2px;
	stroke-dashoffset: 0;
	stroke-dasharray: 760;
}
/* end button */

/*----- END MIDDLE CONTENT -----*/

/*----- SECTION MIDDLE TEXT -----*/

.presi-img {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 250px;
}

.img-presi {
	width: 140px;
	height: 140px;
}

.presi-text {
	padding: 20px;
	width: 700px;
	text-align: justify;
}

.product {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 230px;
	padding: 15px;
	border: solid 1px #000000;
}

.logo-list {
	margin: 20px 0;
	padding: 0;
	list-style: none;
}

.logo-list li {
	background: transparent url(../pictures/arrow.jpeg) no-repeat scroll 0 0px;
	margin:0 0 10px;
	padding:0 0 0 25px;
	line-height: 1em;
}

.button {
	background-color: #ffffff;
	border-radius: 10px;
	padding: 5px;
}

.button:hover {
	box-shadow: #333333 3px 3px 3px;
}

.button2 {
	display: none;
	background-color: #ffffff;
	border-radius: 10px;
	padding: 5px;
}

.button2:hover {
	box-shadow: #333333 3px 3px 3px;
}

.img-bureau {
	width: 180px;
	height: 150px;
}

.our-desk {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

.desk {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 70px;
}

.adress {
	display: flex;
	flex-direction: column;
}

.adress ul {
	margin-left: 30px;
	font-weight: bold;
}

/*----- END SECTION MIDDLE TEXT -----*/

/*----- MIDDLE CONTENT CATALOGUE -----*/

.middle-content-catalogue {
	width: 95%;
}

.titre-produit {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 350px;
	height: auto;
	padding: 10px;
	text-transform: uppercase;
	background-color: #346a8a;
	color: #ffffff;
	font-size: 1.2rem;
	border-radius: 10px;
	border: solid 1px #000000;
	box-shadow: 0 10px 20px #333333, 0 6px 6px #0000003b;
}

.all-card {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 40px;
}

.card-content {
	padding: 5px;
    width: auto;
    height: auto;
    background-color: transparent;
    backdrop-filter: blur(8px);
    border: solid 1px #000000;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.2rem;
    text-align: center;
    box-shadow: 0 10px 20px #333333, 0 6px 6px #0000003b;
}

.card-tittle {
	display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2F6280;
	height: 50px;
}

.thumbnail {
	width: 180px;
    height: 160px;
}

.icon {
	width: 20px;
	height: 20px;
	color: #ffffff;
}

/*----- TEXTE APPARAISSANT AU SURVOL - CATALOGUE -----*/
.card {
	border-radius: 16px;
	margin: 0 auto;
	overflow: hidden;
	background-size: cover;
    width: 250px;
    height: 320px;
    background-color: #ffffff;
    backdrop-filter: blur(8px);
    border: solid 1px #000000;
    text-transform: uppercase;
    font-size: 0.6rem;
    text-align: center;
    box-shadow: 0 10px 20px #333333, 0 6px 6px #0000003b;
}

.img-card {
	width: 200px;
    height: 180px;
}

.info {
	position: relative;
	width: 100%;
	height: auto;
	background-color: #fff;
	transform: translateY(100%)
	translateY(-70px)
	translateZ(0);
	transition: transform 0.3s ease-out;
}

.info:before {
	z-index: -1;
	display: block; position: absolute;
	content: ' ';
	width: 100%; height: 100%;
	overflow: hidden;
	filter: blur(10px);
	background-size: cover;
	opacity: 0.25;
	transform: translateY(-100%)
	translateY(70px)
	translateZ(0);
	transition: transform 0.3s ease-out;
}

.title {
	margin: 0;
	padding: 24px;
	font-size: 0.9rem;
	line-height: 1;
	color: #000000;
}

.description {
	margin: 0;
	padding: 0 24px 24px;
	font-size: 0.7rem;
	line-height: 1.3;
}

.card:hover .info,
.card:hover .info:before {
	transform: translateY(0) translateZ(0);
}
/*----- FIN TEXTE APPARAISSANT AU SURVOL - CATALOGUE -----*/

/*----- FIN DE MIDDLE CONTENT CATALOGUE -----*/


/*----- FOOTER -----*/

.logo-site {
	width: 120px;
	height: 120px;
}

.align-horizon {
	display: flex;
	justify-content: center;
	align-items: center;
}

.align-vertical {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.align-div {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	gap: 50px;
}

.logo-fgdev {
	width: 180px;
	height: 80px;
}

.icon-face {
	color: #729cb6;
}

.icon-face:hover {
	color: #1877f2;
}

.icon-what:hover {
	color: #25D366;
}

.align-ul {
	display: flex;
	align-items: start;
	flex-direction: column;
}

.home-menu {
	display: flex;
	flex-direction: column;
}

.footer-menu a {
	font-size: 1rem;
	color: #000000;
	font-weight: bold;
}

.footer-menu a:hover {
	color: #fec821;
}

/*----- END FOOTER -----*/

/*----- RESPONSIVE PAGE INDEX -----*/

/* responsive tablette */

@media screen and (max-width: 992px) {

	/* HEADER */
	.titre-header {
		font-size: 1.2rem;
	}

	/* MIDDLE CONTENT */
	.middle-content {
		background: url(../pictures/banner_middle-content-992px.jpg) no-repeat;
	}

	.middle-text {
		width: 50%;
		margin-left: 60px;
	}

	.middle-content p {
		padding: 0;
		margin: 0;
	}

	span {
		font-size: 1rem;
	}

	h1 {
		font-size: 1.4rem;
	}

	h2 {
		font-size: 25px;
	}

	h3 {
		font-size: 15px;
	}

	.text-button a {
		font-size: 0.8rem;
	}

		/* FOOTER */
	.footer-menu p {
		font-size: 0.8rem;
	}

	.adress em {
		font-size: 0.8rem;
	}

	.align-horizon {
		flex-direction: column;
	}
}

/* responsive smartphone */

@media screen and (max-width: 350px) {

	body {
		gap: 10px;
	}

	/* HEADER */
	.titre-header {
		font-size: 0.6rem;
	}

	.logo {
		width: 60px;
		height: 60px;
	}

	/* NAVBAR */
	.text-menu {
		gap: 15px;
	}

	.text-menu a {
		font-size: 0.6rem;
	}


	/* MIDDLE CONTENT */
	.middle-content {
		background-image: none;
		background-color: #346a8a;
		height: 250px;
	}

	.middle-text{
		width: 280px;
		margin-left: 60px;
		margin: 0;
		padding: 0;
	}

	.middle-text p {
		font-size: 0.6rem;
	}

	span {
		font-size: 0.6rem;
	}

	.span2 {
		font-size: 0.6rem;
	}

	h1 {
		font-size: 0.8rem;
	}

	h2 {
		font-size: 18px;
	}

	h3 {
		font-size: 10px;
	}

	.svg-wrapper {
		display: none;
	}

	.button2 {
		display: block;
	}

	section {
		flex-direction: column;
	}

	section p {
		font-size: 12px;
	}

	.presi-text {
		padding: 0;
		width: 95%;
	}

	.img-presi {
		width: 90px;
		height: 90px;
	}

	.margin-b20 {
		display: none;
	}

	.our-desk, .desk {
		flex-direction: column;
		gap: 0;
	}

	.img-bureau {
		width: 120px;
		height: 90px;
	}

	/* FOOTER */
	.align-div {
		flex-direction: column;
	}
}